n8n/workflow-availability.json
{
  "name": "TT2GO - Verfügbarkeitsprüfung (Live)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tt2go-availability",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type" },
              { "name": "Access-Control-Allow-Methods", "value": "POST, OPTIONS" }
            ]
          }
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// CORS Preflight abfangen\nconst method = $input.first().json.headers?.['method'] || $input.first().json.method || '';\nif (method === 'OPTIONS') {\n  return [{ json: { cors: true } }];\n}\n\nconst body = $input.first().json.body || {};\nconst stationId = body.stationId || '';\nconst startDate = body.startDate || '';\nconst endDate = body.endDate || '';\n\nif (!stationId || !startDate || !endDate) {\n  return [{ json: { error: 'Parameter fehlen: stationId, startDate, endDate erforderlich', cors: false } }];\n}\n\nreturn [{ json: { stationId, startDate, endDate, cors: false } }];"
      },
      "id": "validate-input",
      "name": "Parameter validieren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://my.fleetster.net/users/auth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ email: $env.FLEETSTER_EMAIL, password: $env.FLEETSTER_PASSWORD }) }}",
        "options": {}
      },
      "id": "auth-login",
      "name": "Fleetster Login",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const authResponse = $input.first().json;\nconst token = authResponse._id;\nconst params = $('Parameter validieren').first().json;\nreturn [{ json: { token, stationId: params.stationId, startDate: params.startDate, endDate: params.endDate } }];"
      },
      "id": "extract-token",
      "name": "Token + Parameter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "url": "=https://my.fleetster.net/vehicles?locationId={{ $json.stationId }}&deleted=false&active=true&fields[_id]=1&fields[locationId]=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ $json.token }}" }
          ]
        },
        "options": {}
      },
      "id": "get-vehicles",
      "name": "Fahrzeuge am Standort",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "jsCode": "// Fahrzeug-IDs sammeln (API liefert nur active=true)\nconst vehicleItems = $('Fahrzeuge am Standort').all().map(i => i.json);\nlet vehicles = vehicleItems;\nif (vehicleItems.length === 1 && Array.isArray(vehicleItems[0])) vehicles = vehicleItems[0];\n\nconst params = $('Token + Parameter').first().json;\nconst vehicleIds = vehicles.map(v => v._id).filter(Boolean);\n\nreturn [{ json: { token: params.token, stationId: params.stationId, startDate: params.startDate, endDate: params.endDate, vehicleIds, totalVehicles: vehicleIds.length } }];"
      },
      "id": "prepare-booking-query",
      "name": "Fahrzeuge auswerten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "url": "=https://my.fleetster.net/bookings?state=created&state=keyreleased&startDate%5B%24lte%5D={{ encodeURIComponent($json.endDate) }}&endDate%5B%24gte%5D={{ encodeURIComponent($json.startDate) }}&fields[vehicleId]=1&fields[state]=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ $json.token }}" }
          ]
        },
        "options": {}
      },
      "id": "get-bookings",
      "name": "Buchungen im Zeitraum",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "jsCode": "const bookingItems = $('Buchungen im Zeitraum').all().map(i => i.json);\nlet bookings = bookingItems;\nif (bookingItems.length === 1 && Array.isArray(bookingItems[0])) bookings = bookingItems[0];\n\nconst params = $('Fahrzeuge auswerten').first().json;\nconst vehicleIds = params.vehicleIds || [];\n\n// Gebuchte Fahrzeug-IDs die zu diesem Standort gehören\nconst bookedIds = new Set();\nbookings.forEach(b => {\n  if (b.vehicleId && vehicleIds.includes(b.vehicleId)) {\n    bookedIds.add(b.vehicleId);\n  }\n});\n\nconst availableCount = vehicleIds.length - bookedIds.size;\n\nreturn [{ json: {\n  available: availableCount > 0,\n  availableCount: Math.max(0, availableCount),\n  totalAtStation: params.totalVehicles,\n  stationId: params.stationId,\n  startDate: params.startDate,\n  endDate: params.endDate\n} }];"
      },
      "id": "check-availability",
      "name": "Verfügbarkeit berechnen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "application/json" },
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "respond",
      "name": "Response senden",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2000, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Parameter validieren", "type": "main", "index": 0 }]] },
    "Parameter validieren": { "main": [[{ "node": "Fleetster Login", "type": "main", "index": 0 }]] },
    "Fleetster Login": { "main": [[{ "node": "Token + Parameter", "type": "main", "index": 0 }]] },
    "Token + Parameter": { "main": [[{ "node": "Fahrzeuge am Standort", "type": "main", "index": 0 }]] },
    "Fahrzeuge am Standort": { "main": [[{ "node": "Fahrzeuge auswerten", "type": "main", "index": 0 }]] },
    "Fahrzeuge auswerten": { "main": [[{ "node": "Buchungen im Zeitraum", "type": "main", "index": 0 }]] },
    "Buchungen im Zeitraum": { "main": [[{ "node": "Verfügbarkeit berechnen", "type": "main", "index": 0 }]] },
    "Verfügbarkeit berechnen": { "main": [[{ "node": "Response senden", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
