n8n/workflow-google-ads-report.json
{
  "name": "TT2GO Google Ads Wochenbericht → Claude → Slack",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tt2go-ads-report",
        "responseMode": "onReceived",
        "responseData": "allEntries",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Google Ads Daten empfangen",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "tt2go-ads-report"
    },
    {
      "parameters": {
        "jsCode": "// Google Ads Rohdaten für Claude API aufbereiten\nconst data = $input.first().json.body || $input.first().json;\n\n// Mobile-first System-Prompt — kurz, kein Markdown-Tabellen, actionable\nconst systemPrompt = `Du bist Google-Ads-Performance-Analyst für TheurerTrucks 2GO (Car-Sharing für Pferdetransporter, DE).\n\nGeschäftskontext:\n- Einziger Pferdetransporter-Carsharing-Anbieter in DE, STX-Transporter auf Renault-Master-Basis\n- Preise: ab 165 €/Tag (brutto), 150 km frei\n- Conversion-Ziel: Registrierung auf fleetster, Ziel-CPA < 25 €\n- Budget: 70 €/Tag (55 National + 15 Neue Standorte)\n- Kampagnen: TT2GO - National - Search (Brand, Pferdetransporter, Pferdeanhänger) + TT2GO - Neue Standorte - Search (12 PLZ-Radien)\n- Benchmarks: Brand-CPA ~8,50 €, avg CPC 0,40-0,50 €, CTR ~20% (brand-heavy)\n\nDeine Aufgabe: Wochenbericht in Slack posten. ZWINGEND MOBILE-FIRST (Handy-Lesbarkeit) und KURZ.\n\n=== STRIKTE FORMAT-REGELN ===\n\n1. MAX 1500 Zeichen Gesamtlänge — hart einhalten. Lieber weniger.\n2. KEINE Tabellen. Slack rendert Markdown-Tabellen NICHT. Stattdessen: Bullet-Liste mit inline Werten.\n3. KEINE #, ##, ### Überschriften. Slack versteht die nicht. Für Abschnitts-Labels NUR *Fett-Text*.\n4. Bullet Points IMMER mit • (nicht -, nicht *)\n5. Trend-Pfeile: ↑ besser, ↓ schlechter, → gleich\n6. Emojis sparsam: :bar_chart: :chart_with_upwards_trend: :warning: :white_check_mark: :rotating_light: :moneybag: :mag:\n\n=== STRUKTUR (exakt in dieser Reihenfolge) ===\n\n:bar_chart: *KW XX — Ø CPA X,XX € bei X Reg.*\nEin Satz mit Woche-auf-Woche-Trend und wichtigster Erkenntnis.\n\n*KPIs*\n• Registrierungen: X (↑↓→ Vorwoche)\n• Ø CPA: X,XX € (↑↓→)\n• Spend: XXX € (↑↓→)\n• CTR: X,X % | CPC: 0,XX €\n\n:white_check_mark: *Was lief gut*\n• 2-3 Bullets, je max 100 Zeichen. Konkret: Kampagne/Anzeigengruppe + Zahl.\n\n:warning: *Was kritisch ist*\n• 2-3 Bullets, je max 100 Zeichen. Konkret: Problem + Zahl.\n\n:dart: *Top 3 Aktionen diese Woche*\n1. Höchste Priorität — konkret + erwarteter Impact\n2. Zweite Priorität\n3. Dritte Priorität\n\n:speech_balloon: _Für Details einfach hier im Thread @TT2GO Report Bot fragen._\n\n=== INHALT-REGELN ===\n\n- Wenn Daten für eine Section nicht reichen: Section einfach weglassen (niemals \"keine Daten\"-Füller)\n- Wenn alles stabil läuft: ehrlich sagen \"*Top 3 Aktionen*: Keine nötig — stabil.\" (spart Zeichen)\n- NIEMALS Details zu Keywords/Suchbegriffen/QS im Hauptbericht — das sind Follow-up-Fragen fürs Bot\n- Zahlen mit Komma statt Punkt als Dezimaltrenner (DE-Format): 25,89 € statt 25.89 €\n- Nur tatsächlich relevante Infos. Nicht alle Daten müssen in den Report — nur was HANDLUNG erfordert`;\n\nconst userMessage = `Hier sind die Google Ads Performance-Daten der letzten 7 Tage:\\n\\n${JSON.stringify(data, null, 2)}`;\n\nreturn [{\n  json: {\n    systemPrompt: systemPrompt,\n    userMessage: userMessage\n  }\n}];"
      },
      "id": "prepare-prompt",
      "name": "Prompt aufbereiten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-sonnet-4-6', max_tokens: 4096, system: $json.systemPrompt, messages: [{ role: 'user', content: $json.userMessage }] }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "claude-api",
      "name": "Claude API Analyse",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "CREDENTIAL_ID",
          "name": "Anthropic API Key"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO ads_reports (platform, week_start, week_end, raw_data, ai_report) VALUES ('google_ads', $1::date, $2::date, $3::jsonb, $4) ON CONFLICT (platform, week_start) DO UPDATE SET raw_data = EXCLUDED.raw_data, ai_report = EXCLUDED.ai_report, created_at = NOW() RETURNING id, week_start;",
        "options": {
          "queryReplacement": "={{ $('Google Ads Daten empfangen').item.json.body.periodThisWeek.start }},={{ $('Google Ads Daten empfangen').item.json.body.periodThisWeek.end }},={{ JSON.stringify($('Google Ads Daten empfangen').item.json.body) }},={{ $json.content[0].text }}"
        }
      },
      "id": "postgres-insert",
      "name": "Report in Postgres speichern",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        900,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID_REPLACE",
          "name": "TT2GO Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Claude API Response auslesen (von VOR dem Postgres-Node holen)\nconst response = $('Claude API Analyse').first().json;\nlet analysisText = '';\n\nif (response.content && response.content.length > 0) {\n  analysisText = response.content[0].text;\n} else if (response.error) {\n  analysisText = ':rotating_light: *Claude API Fehler:* ' + JSON.stringify(response.error);\n} else {\n  analysisText = ':warning: Unerwartete API-Antwort: ' + JSON.stringify(response).substring(0, 500);\n}\n\n// Slack-Nachricht formatieren\nconst slackMessage = ':bar_chart: *TT2GO Google Ads — KI-Wochenbericht*\\n' +\n  '_Analyse erstellt von Claude AI am ' + new Date().toLocaleDateString('de-DE') + '_\\n\\n' +\n  analysisText;\n\nreturn [{ json: { text: slackMessage } }];"
      },
      "id": "format-slack",
      "name": "Slack Nachricht formatieren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "SLACK_WEBHOOK_URL_HIER_EINTRAGEN",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $json.text }) }}",
        "options": {}
      },
      "id": "send-slack",
      "name": "An Slack senden",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        300
      ]
    }
  ],
  "connections": {
    "Google Ads Daten empfangen": {
      "main": [
        [
          {
            "node": "Prompt aufbereiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt aufbereiten": {
      "main": [
        [
          {
            "node": "Claude API Analyse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude API Analyse": {
      "main": [
        [
          {
            "node": "Report in Postgres speichern",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Report in Postgres speichern": {
      "main": [
        [
          {
            "node": "Slack Nachricht formatieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Nachricht formatieren": {
      "main": [
        [
          {
            "node": "An Slack senden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}