n8n/workflow-static-data.json
{
  "name": "TT2GO - Standorte täglich nach GitHub",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "cronExpression", "expression": "0 6 * * *" }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Täglich um 6 Uhr",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://my.fleetster.net/users/auth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ email: $env.FLEETSTER_EMAIL, password: $env.FLEETSTER_PASSWORD }) }}",
        "options": {}
      },
      "id": "auth-login",
      "name": "Fleetster Login",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 400]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nreturn [{ json: { token: response._id } }];"
      },
      "id": "extract-token",
      "name": "Token extrahieren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 400]
    },
    {
      "parameters": {
        "url": "https://my.fleetster.net/locations?deleted=false",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ $json.token }}" }
          ]
        },
        "options": {}
      },
      "id": "get-locations",
      "name": "Standorte abrufen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 400]
    },
    {
      "parameters": {
        "jsCode": "const LABEL_ARCHIVIERT = '69d64b9011fe02d420b21789';\n\n// Manuelle Koordinaten für Standorte ohne GeoPosition in Fleetster\nconst GEO_FALLBACK = {\n  '6995ae3a23d2b03af2696956': { lat: 50.5956690, lng: 7.1591653 }  // Gut Bentgerhof\n};\n\nconst locItems = $('Standorte abrufen').all().map(i => i.json);\nlet locations = locItems;\nif (locItems.length === 1 && Array.isArray(locItems[0])) locations = locItems[0];\n\n// Archivierte ausfiltern\nconst filtered = locations.filter(loc => {\n  const labels = (loc.extended && loc.extended.EntityLabels && loc.extended.EntityLabels.labels) || [];\n  return !labels.includes(LABEL_ARCHIVIERT);\n});\n\nconst stations = [];\nfor (const loc of filtered) {\n  let lat = loc.extended && loc.extended.GeoPosition && loc.extended.GeoPosition.latitude;\n  let lng = loc.extended && loc.extended.GeoPosition && loc.extended.GeoPosition.longitude;\n  \n  // Fallback: manuelle Koordinaten wenn Fleetster keine hat\n  if (!lat || !lng) {\n    const fb = GEO_FALLBACK[loc._id];\n    if (fb) { lat = fb.lat; lng = fb.lng; }\n    else { continue; }\n  }\n  \n  stations.push({\n    id: loc._id,\n    name: (loc.name || '').trim(),\n    city: (loc.city || '').trim(),\n    postcode: (loc.postcode || '').trim(),\n    street: ((loc.streetName || '') + ' ' + (loc.streetNumber || '')).trim(),\n    lat: lat,\n    lng: lng,\n    comment: loc.comment || ''\n  });\n}\n\nstations.sort((a, b) => a.name.localeCompare(b.name));\n\nconst result = { stations: stations, updated: new Date().toISOString() };\nconst githubToken = $env.GITHUB_TOKEN || '';\n\nreturn [{ json: { content: JSON.stringify(result, null, 2), githubToken: githubToken } }];"
      },
      "id": "format-response",
      "name": "JSON formatieren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/andreastheurer-tt2go/theurer-trucks-2go-webseite/contents/api/data.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $json.githubToken }}" },
            { "name": "Accept", "value": "application/vnd.github.v3+json" },
            { "name": "User-Agent", "value": "n8n-tt2go" }
          ]
        },
        "options": {
          "response": { "response": { "neverError": true } }
        }
      },
      "id": "github-get-sha",
      "name": "Bestehende Datei SHA holen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 400]
    },
    {
      "parameters": {
        "jsCode": "const fileCheck = $input.first().json;\nconst content = $('JSON formatieren').first().json.content;\nconst githubToken = $('JSON formatieren').first().json.githubToken;\n\n// SHA kann direkt oder verschachtelt sein\nconst sha = fileCheck.sha || (fileCheck.data && fileCheck.data.sha) || null;\n\nconst contentBase64 = Buffer.from(content, 'utf-8').toString('base64');\n\nconst body = {\n  message: 'chore: Standorte aktualisiert (' + new Date().toISOString().slice(0,10) + ')',\n  content: contentBase64\n};\n\nif (sha) {\n  body.sha = sha;\n} else {\n  throw new Error('SHA konnte nicht ermittelt werden. Response: ' + JSON.stringify(fileCheck).slice(0, 500));\n}\n\nreturn [{ json: { body: body, githubToken: githubToken } }];"
      },
      "id": "prepare-push",
      "name": "Push vorbereiten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 400]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://api.github.com/repos/andreastheurer-tt2go/theurer-trucks-2go-webseite/contents/api/data.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $json.githubToken }}" },
            { "name": "Accept", "value": "application/vnd.github.v3+json" },
            { "name": "User-Agent", "value": "n8n-tt2go" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": { "timeout": 30000 }
      },
      "id": "github-push",
      "name": "Nach GitHub pushen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 400]
    }
  ],
  "connections": {
    "Täglich um 6 Uhr": { "main": [[{ "node": "Fleetster Login", "type": "main", "index": 0 }]] },
    "Fleetster Login": { "main": [[{ "node": "Token extrahieren", "type": "main", "index": 0 }]] },
    "Token extrahieren": { "main": [[{ "node": "Standorte abrufen", "type": "main", "index": 0 }]] },
    "Standorte abrufen": { "main": [[{ "node": "JSON formatieren", "type": "main", "index": 0 }]] },
    "JSON formatieren": { "main": [[{ "node": "Bestehende Datei SHA holen", "type": "main", "index": 0 }]] },
    "Bestehende Datei SHA holen": { "main": [[{ "node": "Push vorbereiten", "type": "main", "index": 0 }]] },
    "Push vorbereiten": { "main": [[{ "node": "Nach GitHub pushen", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
